.activeClass {
    color: green;
    
  }
  .header{
    background-color: rgba(12, 26, 133, 0.212);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
   .tituloNav {    
    display: flex;   
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
   .tituloH1 {    
    font-size: 60px;   
    color: rgba(14, 14, 150, 0.74);
    text-decoration: none;
  }
  
