.App {
  text-align: center;
  color: rgba(82, 14, 146, 0.897);
  background-color:  rgba(11, 85, 119, 0.26);;
}
.class-icon{
  width: 30px;
  height: 30px;
 
}

.buttonCounter1 {
  background-color: red;
  color: black;
}
.buttonCounter2 {
  background-color: green;
  color: black;
}

.itemListProducts {
  list-style: none;
  margin-top: 15px;

}

.contentProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;  
  font-size: 18px;
  background-color: transparent;
}
.imagenProducto, img {
  display: flex;
  justify-content: center;
  width: 50vh;
  height: 45vh;
}

